MEMORY {

# HEADER definition

  HEADER:     start = $0000,  size = $0010,   type = ro,  file = %O,  fill = yes;

# ZEROPAGE + RAM definitions

  ZP:         start = $0000,  size = $0100,   type = rw;
  RAM:        start = $0300,  size = $0500,   type = rw;
  EXRAM:      start = $5000,  size = $1000,   type = rw;
  BBSRAM:     start = $6000,  size = $2000,   type = rw;

# PRG definitions

  # PRG FIRST 32K BANK
  PRGM1:      start = $8000, size = $4000, type = ro, file = %O, fill = yes;
  PRGM2:      start = $8000, size = $2000, type = ro, file = %O, fill = yes;
  PRG00:      start = $E000, size = $1FFA, type = ro, file = %O, fill = yes;
  VECTORS:    start = $FFFA, size = $0006, type = ro, file = %O, fill = yes;
  # DPCM BANKS
  PRG01:      start = $C000, size = $2000, type = ro, file = %O, fill = yes;
  PRG02:      start = $C000, size = $2000, type = ro, file = %O, fill = yes;
  PRG03:      start = $C000, size = $2000, type = ro, file = %O, fill = yes;
  PRG04:      start = $C000, size = $2000, type = ro, file = %O, fill = yes;
  PRG05:      start = $C000, size = $2000, type = ro, file = %O, fill = yes;
  PRG06:      start = $C000, size = $2000, type = ro, file = %O, fill = yes;
  PRG07:      start = $C000, size = $2000, type = ro, file = %O, fill = yes;
  PRG08:      start = $C000, size = $2000, type = ro, file = %O, fill = yes;
  PRG09:      start = $C000, size = $2000, type = ro, file = %O, fill = yes;
  PRG10:      start = $C000, size = $2000, type = ro, file = %O, fill = yes;
  PRG11:      start = $C000, size = $2000, type = ro, file = %O, fill = yes;
  PRG12:      start = $C000, size = $2000, type = ro, file = %O, fill = yes;
  PRG13:      start = $C000, size = $2000, type = ro, file = %O, fill = yes;
  PRG14:      start = $C000, size = $2000, type = ro, file = %O, fill = yes;
  PRG15:      start = $C000, size = $2000, type = ro, file = %O, fill = yes;
  PRG16:      start = $C000, size = $2000, type = ro, file = %O, fill = yes;
  PRG17:      start = $C000, size = $2000, type = ro, file = %O, fill = yes;
  PRG18:      start = $C000, size = $2000, type = ro, file = %O, fill = yes;
  PRG19:      start = $C000, size = $2000, type = ro, file = %O, fill = yes;
  PRG20:      start = $C000, size = $2000, type = ro, file = %O, fill = yes;
  PRG21:      start = $C000, size = $2000, type = ro, file = %O, fill = yes;
  PRG22:      start = $C000, size = $2000, type = ro, file = %O, fill = yes;
  PRG23:      start = $C000, size = $2000, type = ro, file = %O, fill = yes;
  PRG24:      start = $C000, size = $2000, type = ro, file = %O, fill = yes;
  PRG25:      start = $C000, size = $2000, type = ro, file = %O, fill = yes;
  PRG26:      start = $C000, size = $2000, type = ro, file = %O, fill = yes;
  PRG27:      start = $C000, size = $2000, type = ro, file = %O, fill = yes;
  PRG28:      start = $C000, size = $2000, type = ro, file = %O, fill = yes;
  PRG29:      start = $C000, size = $2000, type = ro, file = %O, fill = yes;
  PRG30:      start = $C000, size = $2000, type = ro, file = %O, fill = yes;
  PRG31:      start = $C000, size = $2000, type = ro, file = %O, fill = yes;
  PRG32:      start = $C000, size = $2000, type = ro, file = %O, fill = yes;
  # CODES BANKS
  PRGDIA0:    start = $A000, size = $2000, type = ro, file = %O, fill = yes;
  PRGDIA1:    start = $A000, size = $2000, type = ro, file = %O, fill = yes;
  PRGDIA2:    start = $A000, size = $2000, type = ro, file = %O, fill = yes;
  PRG35:      start = $8000, size = $2000, type = ro, file = %O, fill = yes;
  PRG36:      start = $A000, size = $2000, type = ro, file = %O, fill = yes;
  PRG37:      start = $8000, size = $2000, type = ro, file = %O, fill = yes;
  PRG38:      start = $8000, size = $2000, type = ro, file = %O, fill = yes;

  # PRG FILL
  PRG_FILL:   start = $8000,  size = $1AA000,  type = ro,  file = %O,  fill = yes;

# CHR ROM definitions
# comment if using CHR RAM

  # CHR FIRST 8K BANK
  # CHR00:      start = $0000,  size = $2000,   type = ro,  file = %O,  fill = yes;

  # CHR FILL
  CHR:   start = $0000,  size = $100000,  type = ro,  file = %O,  fill = yes;
}

SEGMENTS {

  HEADER:     load = HEADER,      type = ro;
  ZEROPAGE:   load = ZP,          type = zp;
  RAM:        load = RAM,         type = bss, optional = yes;
  EXRAM:      load = EXRAM,       type = bss, optional = yes;
  BBSRAM:     load = BBSRAM,      type = bss, optional = yes;
# PRG ROM BANKS

  MUSBANK:    load = PRGM1, type = ro, optional = yes;  # music bank
  MUSBANK2:   load = PRGM2, type = ro, optional = yes;
  CODE:       load = PRG00, type = ro, optional = yes;
  BANK1:      load = PRG01, type = ro, optional = yes;  # DPCM bank 0
  BANK2:      load = PRG02, type = ro, optional = yes;  # DPCM bank 1
  BANK3:      load = PRG03, type = ro, optional = yes;  # DPCM bank 2
  BANK4:      load = PRG04, type = ro, optional = yes;  # DPCM bank 3
  BANK5:      load = PRG05, type = ro, optional = yes;  # DPCM bank 4
  BANK6:      load = PRG06, type = ro, optional = yes;  # DPCM bank 5
  BANK7:      load = PRG07, type = ro, optional = yes;  # DPCM bank 6
  BANK8:      load = PRG08, type = ro, optional = yes;  # DPCM bank 7
  BANK9:      load = PRG09, type = ro, optional = yes;  # DPCM bank 8
  BANK10:     load = PRG10, type = ro, optional = yes;  # DPCM bank 9
  BANK11:     load = PRG11, type = ro, optional = yes;  # DPCM bank 10
  BANK12:     load = PRG12, type = ro, optional = yes;  # DPCM bank 11
  BANK13:     load = PRG13, type = ro, optional = yes;  # DPCM bank 12
  BANK14:     load = PRG14, type = ro, optional = yes;  # DPCM bank 13
  BANK15:     load = PRG15, type = ro, optional = yes;  # DPCM bank 14
  BANK16:     load = PRG16, type = ro, optional = yes;  # DPCM bank 15
  BANK17:     load = PRG17, type = ro, optional = yes;  # DPCM bank 16
  BANK18:     load = PRG18, type = ro, optional = yes;  # DPCM bank 17
  BANK19:     load = PRG19, type = ro, optional = yes;  # DPCM bank 18
  BANK20:     load = PRG20, type = ro, optional = yes;  # DPCM bank 19
  BANK21:     load = PRG21, type = ro, optional = yes;  # DPCM bank 20
  BANK22:     load = PRG22, type = ro, optional = yes;  # DPCM bank 21
  BANK23:     load = PRG23, type = ro, optional = yes;  # DPCM bank 22
  BANK24:     load = PRG24, type = ro, optional = yes;  # DPCM bank 23
  BANK25:     load = PRG25, type = ro, optional = yes;  # DPCM bank 24
  BANK26:     load = PRG26, type = ro, optional = yes;  # DPCM bank 25
  BANK27:     load = PRG27, type = ro, optional = yes;  # DPCM bank 26
  BANK28:     load = PRG28, type = ro, optional = yes;  # DPCM bank 27
  BANK29:     load = PRG29, type = ro, optional = yes;  # DPCM bank 28
  BANK30:     load = PRG30, type = ro, optional = yes;  # DPCM bank 29
  BANK31:     load = PRG31, type = ro, optional = yes;  # DPCM bank 30
  BANK32:     load = PRG32, type = ro, optional = yes;  # DPCM bank 31
  BANKDIAL0:  load = PRGDIA0,type = ro, optional = yes;
  BANKDIAL1:  load = PRGDIA1,type = ro, optional = yes;
  BANKDIAL2:  load = PRGDIA2,type = ro, optional = yes;
  BANK35:     load = PRG35, type = ro, optional = yes;  # State init/update bank 
  BANK36:     load = PRG36, type = ro, optional = yes;  # State init/update bank 
  BANK37:     load = PRG37, type = ro, optional = yes;  # Item use
  BANK38:     load = PRG37, type = ro, optional = yes;  # Item check
#  BANK1:       load = PRG01,      type = ro,  optional = yes;

  VECTORS:    load = VECTORS, start = $FFFA,     type = ro;

# CHR ROM BANKS
# comment if using CHR RAM

  CHR00:      load = CHR,       type = ro,  optional = yes;

}

SYMBOLS {
  # 0x02AA = 682 : Rainbow mapper on FCEUX and Mesen2
  NES_MAPPER      : type = export,    value = 682;
  NES_PRG_BANKS   : type = export,    value = 128;   # number of 16K PRG banks
  NES_CHR_BANKS   : type = export,    value = 128;  # number of 8K CHR banks
}